/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.c-footer {
  color: rgba(82, 85, 82, 0.979)
}

.v-middle {
  vertical-align: middle;
}
